# Python caches
__pycache__/
*.py[cod]

# Virtual environments
.env
.venv/
env/
venv/

# Streamlit secrets
.secrets.toml

# Jupyter
.ipynb_checkpoints

# IDEs
.vscode/
.idea/

# OS files
.DS_Store

# Logs
*.log

# Data (optional if you store large CSVs)
data/

